<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebPath" value="D:\Dev\VisualVisioSVGLight\VisualVisioSVGLight\Web"/>
    <add key="StencilsPath" value="D:\Dev\VisualVisioSVGLight\VisualVisioSVGLight\Stencils"/>
    <add key="TemplatesPath" value="D:\Dev\VisualVisioSVGLight\VisualVisioSVGLight\Templates"/>
    <add key="ProjectsPath" value="D:\Dev\VisualVisioSVGLight\VisualVisioSVGLight\Projects"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
